<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<%= link_to('Home',{controller:'main', action:'index', page:1})%>
<%= link_to('About',{controller:'main', action:'about',page:5,  id:20})%>

<% if @page == 1 %>
    <p> Tasks List</p>
<% end %> 

<ul>
<% @tasks.each do |task| %>
    <li> <%= task%></li>
<% end %>    
</ul>


